
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Main Destinations</h1>

        <ul>
          <% for (let i=0; i< destination.length; i++) { %>
            <%=destination.name %>
          <% } %>
        </ul>

    </body>
</html>
